/* *************************Edit Project****************************** */
/* ******************************************************************* */

.edit__form {
  display: grid;
  padding: 2rem 1rem;
  gap: 1rem;
}

.edit__input,
.edit__textarea {
  padding: 0.5rem;
  background-color: rgb(56, 55, 55);
  color: white;
  box-shadow: none;
  border: none;
  font-weight: bold;
}

.edit__label {
  text-align: left;
  color: var(--crimson);
  font-weight: bold;
}

.projects__unavailable {
  text-align: center;
  color: grey;
  margin-top: 9rem;
  font-size: 2rem;
}

.edit__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.edit__error {
  color: crimson;
}
