.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 290px));
  place-items: center;
  place-content: center;
  gap: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .projects {
    display: block;
  }
}
