.home {
  background-color: #0c0c0c;
  background-size: cover;
  background: linear-gradient(to left, #010101ba, #000000fe),
    url(../../../assets/bg2.jpg) no-repeat top center;
  padding: 3rem 0rem;
  overflow-x: hidden;
}

.home__div {
  display: grid;
  place-items: center;
  padding: 1rem 0rem;
  gap: 3rem;
}

.home__btn {
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1rem;
  color: var(--crimson);
}
.button {
  cursor: pointer;
  font-size: 2rem;

  padding: 0.75em 1.25em;
  border: 0;
}

/* .home button:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
} */
.home__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

@media screen and (min-width: 678px) {
  .home {
    min-height: 100vh;
  }

  .home__img {
    width: 70%;
  }
  .home__btn {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    min-height: 100vh;
  }

  .home__btn {
    font-size: 1.5rem;
  }
}
