.home {
  background-color: #0c0c0c;
  background-size: cover;
  background: linear-gradient(to left, #010101ba, #000000fe),
    url(../../../assets/bg2.jpg) no-repeat top center;
  padding: 3rem 0rem;
  overflow-x: hidden;
}

.home__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.home__btn {
  cursor: pointer;
  padding: 1.07rem;
  font-size: 1rem;
  text-align: center;

  border: solid var(--crimson) 2px;
  color: var(--crimson);
}

/* .home__btn:hover {
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
  border-color: var(--golden);
  color: var(--golden);
} */
.home__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

@media screen and (min-width: 678px) {
  .home {
    min-height: 100vh;
  }

  .home__img {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    min-height: 100vh;
  }

  .home__btn {
    font-size: 1.2rem;
  }
}
