.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-height: 320px;
}

.partner__title {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
  max-width: 200px;
  color: var(--crimson);
}

.partner img {
  width: 170px;
}

@media screen and (min-width: 800px) {
  .partner {
    padding: 1.7rem;
  }
  .partner img {
    width: 250px;
  }
  .partner__title {
    font-size: 1.1rem;
  }
}
