.partner {
  border-radius: 100%;
  padding: 1.5rem;
}

.partner__title {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
  color: var(--crimson);
}

.partner img {
  width: 40px;
}

@media screen and (min-width: 600px) {
  .partner {
    padding: 1.7rem;
  }
  .partner img {
    width: 50px;
  }
  .partner__title {
    font-size: 1.1rem;
  }
}
