.about {
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
  padding: 1rem;
  font-size: 1.04rem;
  max-width: 700px;
}

.about__frame {
  position: relative;
}

.about__img1,
.about__img2 {
  position: absolute;
  width: 120px;
}
.about__img1 {
  left: -3vw;
  top: -5vh;
}
.about__img2 {
  position: absolute;

  right: -3vw;
  bottom: -5vh;
}

@media screen and (min-width: 300px) {
  .about {
    text-align: center;
  }
}
