.about {
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
  padding: 1rem;
  font-size: 1.1rem;

  /* "text-left mx-auto w-10/12 text-crimson font-Tparagraph text-md min-[375px]:text-center  sm:text-lg lg:text-xl leading-7 " */
}

@media screen and (min-width: 300px) {
  .about {
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .about {
    font-size: 1.3rem;
  }
}
