.fuse-panel {
  color: var(--crimson);
}

.fuse-panel__article {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.fuse-panel__title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 3rem;
}

.fuse-panel__select {
  color: grey;
  width: 100%;
}
